<a href="https://colab.research.google.com/github/Jose-Paz-bl/notas_python/blob/main/S2_bucles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

# Operadores de asignación aumentada y funciones integradas

Uso:

**min("lista")**

**max("lista")**

**sum("lista")**

In [2]:
it_speakers = 67.8
# actualiza aquí el valor de la variablemediante asignacion aumentada
it_speakers += 5
# imprime aquí el valor de la variable
print(it_speakers)

72.8

In [ ]:
# Gasto total inicial
total_spending = 0

# Lista de gastos diarios
daily_expenses = [20.5, 15.0, 22.75, 30.0, 25.0, 18.0, 19.5]

# Final
total_spending = sum(daily_expenses)

print(f"Gasto total de la semana: $ {total_spending}")

Gasto total de la semana: $ 150.75

In [3]:
#Estás construyendo un programa para analizar los datos de ventas de una tienda minorista. El director de la tienda quiere que calcules los ingresos totales generados en una semana y averigües el importe de venta más alto y más bajo en un día

#La salida esperada es esta:

#Ingresos totales de la semana: $ 1722.0
#Importe de ventas más alto en un día: $ 400.0
#Importe de ventas más bajo en un día: $ 100.25

# Lista de importes de ventas diarias en dólares
daily_sales = [250.75, 300.5, 100.25, 400.0, 320.5, 200.0, 150.0]

# Calcula los ingresos totales utilizando sum() y el operador de asignación aumentada
total_revenue = sum(daily_sales)

# Encuentra los importes de venta más altos y más bajos usando max() y min()
highest_sales = max(daily_sales)
lowest_sales = min(daily_sales)

# Muestra los resultados
print("Ingresos totales de la semana: $", total_revenue)
print("Importe de ventas más alto en un día: $", highest_sales)
print("Importe de ventas más bajo en un día: $", lowest_sales)

Ingresos totales de la semana: $ 1722.0
Importe de ventas más alto en un día: $ 400.0
Importe de ventas más bajo en un día: $ 100.25

# Bucles for

Los bucles iteran sobre los elementos de una lista y realizan determinados procesos sobre estos puntos. Se puede usar para extraer información sobre determinados datos.

In [7]:
# sintaxis de bucle for
payers = [56, 65, 64, 63]
# escribe tu código aquí
for payer in payers:
  print(payer)

56
65
64
63

In [8]:
actors = ['John Travolta', 'Bonnie Hunt', 'Jason Bateman', 'Idris Elba']
for actor in actors:
  print(actor)

John Travolta
Bonnie Hunt
Jason Bateman
Idris Elba

In [ ]:
elements = [42, 'hello', 0.5, -999, 'world']
for element in elements:
    print(element)
# escribe tu código aquí

In [21]:
# bucle for en strings
#Crea un bucle que imprima los caracteres del string uno por uno en líneas separadas
message_japanese = '機械翻訳は通常良くありません'
# escribe tu código aquí
# en este caso se pudo usar split, pero como no hay separador, se recurrió a list
list_message_japanese = list(message_japanese)

for item in list_message_japanese:
  print(item)

機
械
翻
訳
は
通
常
良
く
あ
り
ま
せ
ん

In [29]:
#Se requiere que se proporcione la lista de nombres compeltos imprimiendo cada nombre en una línea separada.

clients = [
    [32456, "Jack Wilson", 32, 150000, "Healthcare"],
    [34591, "Nina Brown", 45, 250000, "Telecom"],
    [37512, "Alex Smith", 39, 210000, "IT"],
    [39591, "Brian Perez", 29, 340000, "Transportation"],
    [45123, "Sarah Lee", 28, 120000, "Marketing"],
    [47635, "David Kim", 36, 180000, "Finance"],
    [49571, "Samantha Chen", 42, 220000, "Retail"],
    [50391, "Juan Rodriguez", 31, 160000, "Architecture"],
]

# escribe tu código aquí
count = 0
for client in clients:
  print(client[1])

Jack Wilson
Nina Brown
Alex Smith
Brian Perez
Sarah Lee
David Kim
Samantha Chen
Juan Rodriguez

# Bucles en listas anidadas

In [1]:
# Muestra el género de cada película a través deun bucle for

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

# escribe tu código aquí

for genre in movies_info:
  print(genre[3])

drama
drama, crime
fantasy, action, thriller
drama
fantasy, adventure, drama
thriller, comedy, crime
western
thriller, drama, crime
drama, action, history
drama, romance

In [3]:
# Convertir la duración de películas a horas (actualmente en minutos)

movies_info = [
    ['The Shawshank Redemption', 'USA', 1994, 'drama', 142, 9.111],
    ['The Godfather', 'USA', 1972, 'drama, crime', 175, 8.730],
    ['The Dark Knight', 'USA', 2008, 'fantasy, action, thriller', 152, 8.499],
    ["Schindler's List", 'USA', 1993, 'drama', 195, 8.818],
    ['The Lord of the Rings: The Return of the King', 'New Zealand', 2003, 'fantasy, adventure, drama', 201, 8.625],
    ['Pulp Fiction', 'USA', 1994, 'thriller, comedy, crime', 154, 8.619],
    ['The Good, the Bad and the Ugly', 'Italy', 1966, 'western', 178, 8.521],
    ['Fight Club', 'USA', 1999, 'thriller, drama, crime', 139, 8.644],
    ['Harakiri', 'Japan', 1962, 'drama, action, history', 133, 8.106],
    ['Good Will Hunting', 'USA', 1997, 'drama, romance', 126, 8.077]
]

for row in movies_info:
  #se extrae la lista con las duraciones en minutos
    runtime = row[4]
  # se divide cada elemento de la lista anterior / 60
    runtime = runtime / 60 # convierte la duración extraída a horas
    print(runtime)

2.3666666666666667
2.9166666666666665
2.533333333333333
3.25
3.35
2.566666666666667
2.966666666666667
2.316666666666667
2.216666666666667
2.1

In [42]:
# Lista anidada de pedidos: [precio, cantidad, descuento]. Se busca obtener la venta total y el valor maximo de un pedido

orders = [
    [199.99, 2, 0.10],  # 10% de descuento
    [349.99, 1, 0.05],  # 5% de descuento
    [129.99, 3, 0.00],  # Sin descuento
    [499.99, 1, 0.20],  # 20% de descuento
    [249.99, 4, 0.15],  # 15% de descuento
]
# Inicializa las variables
total_revenue = 0
highest_order_value = 0
net_values = [] # Define una lista vacía

# Recorre los pedidos
for pedido in orders :
# Define tres variables a las cuales asignarás el precio, descuento y cantidad.
  precio = pedido[0]
  cantidad = pedido[1]
  descuento = pedido[2]
# Calcula el valor de la compra con descuento incluido.
  net_value = (precio * cantidad) - (precio * cantidad) * descuento
  print(net_value)

# Almacena el valor neto individual en una lista
  net_values.append(net_value)
# Añade a los ingresos totales utilizando la asignación aumentada
  total_revenue += net_value
## Obtén el valor máximo de la lista
  highest_order_value = max(net_values)

print("Ingresos totales después de descuentos y tasas:", total_revenue) # Salida: Ingresos totales después de descuentos y tasas: 2332.4005
print("Valor máximo de un pedido:", highest_order_value)  # Salida: Valor de pedido único más alto: 849.966

359.982
332.4905
389.97
399.992
849.966
Ingresos totales después de descuentos y tasas: 2332.4005
Valor máximo de un pedido: 849.966

# Bucles while

Los bucles while ejecutan código mientras se cumple alguna condición.

In [48]:
start = 29
check = 'Error - While no ejecutado.'

while start < 30 and start > 28:
    start += 10
    check = '¡Listo! While ejecutado.'

print(check)

¡Listo! While ejecutado.

Teniendo en cuenta que Jack percibe 150.000 al año, el primer año tendrá 150.000, el segundo 300.000, y así hasta que haya acumulado 1.050.000 durante el séptimo año. Entonces, el código mostrará en pantalla 7, que es la cantidad de años que tardó Jack en alcanzar (y superar) el millón en ingresos.

In [49]:



annual_income = 150000 # ingreso anual de Jack
target_income = 1000000 # ingreso objetivo

total_income_sum = 0 # ingresos totales que se actualizarán para cada año
years_to_million = 0 # cantidad de años que también se actualizará

while total_income_sum < target_income:
    total_income_sum += annual_income
    years_to_million += 1

print(years_to_million)

7

# Pruebas